$accentColor: rgb(20, 172, 223);

body{
    overflow: hidden;
    padding: 25px 400px;
    background: url(../img/background.jpg) no-repeat fixed;
    background-size: 100vw 100vh;
    min-width: 100vw;
    min-height: 100vh;
    margin: auto;
    box-sizing: border-box;
    #wrapper{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin: 25px;
        min-height: 100%;
        margin: auto;
        #foreground, #background, #display{
            width: 800px;
            height: 800px;
            z-index: 2;
            box-sizing: border-box;
            position: relative;
            left: 10px;
            background: white;
        }
        #background{
            position: absolute;
            z-index: 1;
            width: 1100px;
            left: 425px;
            bottom: 160px;
            background: $accentColor;
            #parties{
                color: white;
                font-weight: bold;
                h6{
                    font-weight: bold;
                }
                position: relative;
                margin-left: 75%;
                #partiesDisplay{
                    list-style: none;
                    padding: 0;
                    margin: auto;
                }
            }
        }
        #foreground{
            padding: 50px;
            #logo{
                width: 50%;
            }
            #textLogo{
                font-weight: bold;
            }
            #typeTitle{
                font-weight: bold;
                color: $accentColor;
                margin: 25px auto;
            }
            #start{
                padding: 5px 75px;
                background: black;
                border: none;
                border-radius: 10px;
                color: white;
                font-size: 30px;
                margin-left: 70%;
                margin-top: 5%;
            }
            #start:hover{
                background: $accentColor;
            }
        }
        #display{
            width: 1000px;
            h1{
                color: $accentColor;
                margin: 25px;
                font-weight: bold;
            }
            p{
                font-size: 25px;
                margin: 25px;
            }
            #backButton{
                border: none;
                background: white;
                color: gray;
            }
            #backButton:hover{
                color: black;
            }
            #buttonsDisplay{
                margin: 20px;
                button, #backButton{
                    margin: auto 5px;
                    padding: 5px 25px;
                    background: black;
                    border: none;
                    border-radius: 10px;
                    color: white;
                    font-size: 30px;
                }
                button:hover{
                    background: $accentColor;
                }
                button:last-child{
                    margin-left: 15px;
                    background: white;
                    color: gray;
                }
                button:last-child:hover{
                    color: black;
                }
            }
        }
    }
}